@import "tailwindcss";

@theme {
  /* colors */
  --color-primary: #522e9a;
  --color-paragraphColor: #121417;
  --color-headingsColor: #231f20;
  --color-profileDescriptionColor: #757575;
  --color-bodyBackground: #d6d1e8;
  --color-inputBackground: #ebe8f2;
  --color-lightWhite: #fafafa;
  --color-btnText: #b8b8b8;
  --color-footerLinksHeadingText: #a0a0a0;
  --color-disabledBtn: #757575;
  --color-disabledBtnText: #ffffff;
  --color-activeSettingsBtn: #d4c2f9;

  /* font families */
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  /* font sizes */
  --text-primaryHeading: clamp(2rem, 1.286rem + 1.905vw, 3rem);
  --text-secondaryHeading: clamp(1.5rem, 0.786rem + 1.905vw, 2.5rem);
  --text-tertiaryHeading: clamp(1.25rem, 0.714rem + 1.429vw, 2rem);
  --text-quatenaryHeading: clamp(1.25rem, 1.179rem + 0.357vw, 1.5rem);
}

@layer components {
  .form-input {
    background-color: var(--color-inputBackground);
    width: 100%;
    padding: 1rem;
    border-radius: var(--radius-lg);
    &:focus {
      outline-color: var(--color-primary);
      border-color: var(--color-primary);
    }
    &[data-invalid="true"] {
      border-color: red;
    }
  }

  .no-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .no-arrow::-ms-expand {
    display: none;
  }

  .activeProfileContentButton {
    border-bottom: 4px solid var(--color-primary);
    font-weight: 800;
  }

  /* Hide scrollbar but keep scrolling */
  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }

  .FAQDivBtn {
    /* font-poppins cursor-pointer text-btnText font-bold */
    font-family: var(--font-poppins);
    cursor: pointer;
    color: var(--color-btnText);
    font-weight: 700;
    padding: 1rem;
  }

  .activeBtn {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
  }

  .fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }

  .fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
}
